@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background-color: #19a2ae;
  background-image: url("./../images/bg-pattern-bottom.svg"), url("./../images/bg-pattern-top.svg");
  background-position: 135% -90%, -40% 120%;
  background-repeat: no-repeat, no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.card {
  margin-top: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  z-index: 5;
  width: 350px;
  -webkit-box-shadow: 0px 0px 79px -20px rgba(0, 0, 0, 0.88);
          box-shadow: 0px 0px 79px -20px rgba(0, 0, 0, 0.88);
}

.top-banner {
  height: 140px;
}

.top-banner img {
  border-radius: 15px 15px 0 0;
}

.personal-banner {
  background-color: #fff;
  width: 350px;
  height: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image-div img {
  border: 5px solid #fff;
  border-radius: 50%;
  z-index: 10;
  margin-bottom: 20px;
  margin-top: -80px;
}

.info-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.name h1 {
  font-size: 18px;
  color: #2d3248;
  font-weight: 700;
}

.age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.age h2 {
  font-size: 18px;
  color: #6a6f81;
  font-weight: 400;
  padding-left: 10px;
}

.city-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.city-div h3 {
  font-size: 14px;
  color: #6a6f81;
  font-weight: 400;
}

.likes-banner {
  background-color: #fff;
  width: 350px;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #969696;
  border-bottom: 0px solid transparent;
  border-radius: 0 0 15px 15px;
}

.followers, .likes, .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #2d3248;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  padding: 0 30px;
}

p {
  font-size: 9px;
  color: #6a6f81;
  letter-spacing: 2px;
  font-weight: 400;
  margin-top: 5px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 5px;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 376px) {
  body {
    background-size: 200%;
    background-position: -40% -175%, 150% 190%;
  }
}
/*# sourceMappingURL=style.css.map */